@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Inter;
  font-weight: 400;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  max-height: 96px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 31px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-title {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-left: 8px;
  cursor: pointer;
}

.header__logo-svg {
  cursor: pointer;
}

.header__menu_desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__menu-element {
  font-size: 1.6rem;
  color: #72787D;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  margin-right: 2.2rem;
  text-decoration: none;
}

.header__menu-element:hover {
  color: #036FC7;
  -webkit-transition: .2s;
  transition: .2s;
}

.header__menu-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  width: 14.3rem;
  height: 3.4rem;
  background: #212B31;
  border: 1px solid #212B31;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.header__menu-order:hover {
  background: #3f505a;
  -webkit-transition: .2s;
  transition: .2s;
}

.header__menu_mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: -1px 0 20px 1px #212B31;
          box-shadow: -1px 0 20px 1px #212B31;
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 10;
}

.header__menu_mobile .header__menu-element {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.header__menu_mobile .header__menu-order {
  font-size: 2.5rem;
  width: 21.4rem;
  min-height: 5rem;
  margin-top: 5rem;
}

.header__menu-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background: none;
  border-radius: 50%;
  position: absolute;
  padding: 10px;
  top: 20px;
  left: 20px;
}

.header__menu-close:hover {
  background-color: #72787d2a;
  -webkit-transition: .2s;
  transition: .2s;
}

.header__button {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.header__button:hover {
  background-color: #b8b8b852;
}

.container {
  max-width: 1056px;
  margin: 0 auto;
  padding: 0 10px;
}

/** Main **/
.main {
  max-height: 792px;
  height: 100vh;
  padding: 7.5rem 12rem 0 12rem;
  background: no-repeat 50% 37rem/contain url("../img/main-bg-1.webp"), no-repeat 50% 73.4rem/75% url("../img/main-bg-2.webp");
}

.main__heading {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 6.4rem;
  color: #212B31;
  text-align: center;
}

.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.main__button-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: Arial;
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 400;
  text-decoration: none;
  width: 16.6rem;
  height: 5rem;
  background: #212B31;
  border: 1px solid #212B31;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  margin-right: 16px;
}

.main__button-order:hover {
  background: #3f505a;
  -webkit-transition: .2s;
  transition: .2s;
}

.main__button-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14.9rem;
  height: 5rem;
  background: #FFFFFF;
  border: 1px solid #DADEDF;
  border-radius: 4px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-decoration: none;
  color: #212B31;
}

/** Capabilities **/
.capabilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15rem;
}

.capabilities__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.capabilities__element-img {
  max-width: 5rem;
  max-height: 5rem;
  margin-bottom: 1rem;
}

.capabilities__element-heading {
  color: #212B31;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.capabilities__element-description {
  color: #72787D;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

/** Chaos **/
.chaos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 14rem;
}

.chaos__heading {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.8rem;
  color: #212B31;
}

.chaos__description {
  color: #72787D;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: center;
}

/** Course **/
.course {
  margin-top: 14.5rem;
  padding: 0 13rem;
}

.course__heading {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.8rem;
  color: #212B31;
  text-align: center;
}

/** Care **/
.care {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: relative;
  padding-right: 47%;
  margin-top: 17rem;
}

.care__heading {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.8rem;
  color: #212B31;
  text-align: center;
}

.care__description {
  color: #72787D;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: center;
}

.care__help {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  color: #212B31;
  background: no-repeat 0 100%/100% 50% url("../img/care/care__help-bg.webp");
}

.care__img {
  position: absolute;
  right: 0;
}

/** Partners **/
.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5.6rem 0;
  margin-top: 15.5rem;
  border: 1px solid #EEF2F3;
  border-right: none;
  border-left: none;
}

.partners__img {
  margin: 0 5px;
}

/** About **/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8rem;
}

.about__heading {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.8rem;
  color: #212B31;
  text-align: center;
}

.about__description {
  color: #72787D;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: center;
}

.about__capabilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__capabilities-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6.5rem;
  padding-right: 6rem;
}

.about__capabilities-block:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-right: 0;
  padding-left: 6rem;
}

.about__capabilities-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about__capabilities-text-heading {
  color: #212B31;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.about__capabilities-text-description {
  color: #72787D;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.about__capabilities-img {
  width: 42rem;
  height: 27.2rem;
}

/** Delivery **/
.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 14rem;
}

.delivery__heading {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.8rem;
  color: #212B31;
  text-align: center;
}

.delivery__description {
  color: #72787D;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: center;
  padding: 0 15rem;
}

.delivery__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
  position: relative;
}

.delivery__products-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 33.4rem;
  margin-bottom: 3rem;
}

.delivery__products-img {
  min-width: 5rem;
  min-height: 5rem;
  margin-right: 1.5rem;
}

.delivery__products-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.delivery__products-text-subheading {
  color: #212B31;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}

.delivery__products-text-subdescription {
  color: #72787D;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.delivery__other {
  color: #72787D;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: center;
  margin-top: 2rem;
}

.delivery__other_yellow-bg {
  color: #212B31;
  background: no-repeat 0 100%/100% 50% url("../img/care/care__help-bg.webp");
}

.delivery .swiper-container {
  width: 80vw;
}

.delivery .swiper-button-prev {
  right: 100%;
  left: auto;
}

.delivery .swiper-button-next {
  left: 100%;
  right: auto;
}

.delivery .swiper-button-prev, .delivery .swiper-button-next {
  display: none;
  color: #72787D;
}

/** Safety **/
.safety {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15rem;
}

.safety__heading {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.8rem;
  color: #212B31;
  text-align: center;
}

.safety__description {
  color: #72787D;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: center;
}

.safety__capabilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 6rem;
}

.safety__capabilities-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.safety__capabilities-block-img {
  min-width: 5rem;
  min-height: 5rem;
  margin-bottom: 20px;
}

.safety__capabilities-block-subheading {
  color: #212B31;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.safety__capabilities-block-subdescription {
  color: #72787D;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.safety__equipment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F8F9;
  padding: 0 4rem;
  width: 100%;
  height: 13rem;
  line-height: 3.2rem;
  color: #212B31;
  margin-top: 6rem;
}

.safety__equipment-heading {
  font-size: 1.8rem;
  font-weight: 500;
}

.safety__equipment-description {
  font-size: 1.8rem;
  font-weight: 400;
}

.safety__equipment-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #212B31;
  min-width: 15rem;
  min-height: 5rem;
  background: #FFFFFF;
  border: 1px solid #DADEDF;
  border-radius: 4px;
}

.safety__equipment-more:hover {
  background: #8b8d9b41;
  -webkit-transition: .2s;
  transition: .2s;
}

/** Build **/
.build {
  padding-top: 14rem;
  padding-bottom: 12rem;
  margin-top: 14rem;
  position: relative;
}

.build__bg {
  background: no-repeat 105% 21% url("../img/build/build-bg.webp"), #212B31;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: -1;
}

.build__features {
  max-width: 60%;
}

.build__features-heading {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.8rem;
  color: #212B31;
  text-align: center;
  color: #FFFFFF;
  text-align: left;
}

.build__features-list {
  padding: 0;
  margin: 5rem 0 0 0;
}

.build__features-item {
  list-style-type: none;
  margin-left: 4rem;
  margin-top: 2.4rem;
  position: relative;
}

.build__features-item:before {
  content: "";
  display: block;
  position: absolute;
  top: 0.8rem;
  left: -4rem;
  background-color: #FFFFFF;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.build__features-subheading {
  color: #212B31;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #FFFFFF;
}

.build__features-subdescription {
  color: #72787D;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #ffffffbe;
}

.build__features-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
}

.build__features-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212B31;
  font-family: Arial;
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 400;
  text-decoration: none;
  width: 16.6rem;
  height: 5rem;
  background: #FFFFFF;
  border: 1px solid #72787D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-right: 16px;
}

.build__features-order:hover {
  background: #3f505a;
  -webkit-transition: .2s;
  transition: .2s;
}

.build__features-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14.9rem;
  height: 5rem;
  background: #212B31;
  border: 1px solid #72787D;
  border-radius: 4px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-decoration: none;
  color: #FFFFFF;
}

.build__capabilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 14rem;
}

.build__capabilities-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.build__capabilities-block-img {
  min-width: 5rem;
  min-height: 5rem;
  margin-bottom: 20px;
}

.build__capabilities-block-subheading {
  color: #212B31;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.build__capabilities-block-subdescription {
  color: #72787D;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 0;
}

/** Work **/
.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14rem;
}

.work__head {
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
}

.work__head-heading {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.8rem;
  color: #212B31;
  text-align: center;
  text-align: left;
  margin-bottom: 2rem;
}

.work__head-description {
  color: #72787D;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: center;
  text-align: left;
  margin-bottom: 6rem;
}

.work__head-img {
  min-width: 33.6rem;
  min-height: 39.2rem;
}

.work__content {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work__content-list {
  padding: 0;
  margin: 0 0 0 7rem;
  counter-reset: my-counter;
}

.work__content-item {
  list-style-type: none;
  position: relative;
}

.work__content-item::before {
  content: counter(my-counter);
  counter-increment: my-counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  width: 4rem;
  height: 4rem;
  border: 1px solid #DADEDF;
  position: absolute;
  left: -7rem;
}

.work__content-subheading {
  color: #212B31;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.work__content-subdescription {
  color: #72787D;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  font-size: 1.7rem;
}

.work__content-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.work__content-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: Arial;
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 400;
  text-decoration: none;
  width: 16.6rem;
  height: 5rem;
  background: #212B31;
  border: 1px solid #212B31;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  margin-right: 16px;
}

.work__content-order:hover {
  background: #3f505a;
  -webkit-transition: .2s;
  transition: .2s;
}

.work__content-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14.9rem;
  height: 5rem;
  background: #FFFFFF;
  border: 1px solid #DADEDF;
  border-radius: 4px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-decoration: none;
  color: #212B31;
}

/** Choose **/
.choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.choose__heading {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.8rem;
  color: #212B31;
  text-align: center;
}

.choose__description {
  color: #72787D;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: center;
  color: #212B31;
}

.choose__reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5rem;
  width: 100%;
}

.choose__reasons-rewards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.choose__reasons-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 3rem;
}

.choose__reasons-img {
  min-width: 5rem;
  min-height: 5rem;
  margin-right: 1rem;
}

.choose__reasons-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choose__reasons-text-subheading {
  color: #212B31;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}

.choose__reasons-text-subdescription {
  color: #72787D;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.choose__reasons-reviews {
  max-width: 61.4rem;
  max-height: 51.6rem;
  position: relative;
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choose__reasons-reviews:before {
  content: "";
  display: block;
  background-color: #F6F8F9;
  z-index: -2;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.choose__reasons-reviews .swiper-container-comment {
  width: 100%;
  overflow: hidden;
}

.choose__reasons-reviews .swiper-container-comment .swiper-slide {
  padding: 0 8rem;
}

.choose__reasons-reviews .swiper-container-comment .swiper-pagination {
  display: block;
  text-align: left;
  top: 88%;
  left: 15%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  width: 40px;
}

.choose__reasons-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.choose__reasons-comment-text {
  font-size: 3rem;
  line-height: 4.8rem;
  margin-top: 6rem;
  color: #212B31;
  position: relative;
}

.choose__reasons-comment-text:before {
  content: "";
  display: block;
  background: no-repeat 0 0/contain url("../img/choose/comment-bg.webp");
  width: 10.4rem;
  height: 8rem;
  position: absolute;
  -webkit-transform: translate(-45%, -20%);
          transform: translate(-45%, -20%);
  z-index: -1;
}

.choose__reasons-comment-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-left: 5.5rem;
  margin-bottom: 3rem;
}

.choose__reasons-comment-photo {
  position: absolute;
  left: -5.5rem;
  width: 5rem;
  height: 5rem;
}

.choose__reasons-comment-name {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 400;
  color: #212B31;
}

.choose__reasons-comment-position {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 400;
  color: #72787D;
}

/** Rewards **/
.rewards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0 19.2rem;
}

.rewards__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-bottom: 4rem;
}

.rewards__block-description {
  color: #72787D;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-top: 3rem;
  padding: 0 3rem;
  text-align: center;
}

/** Contact **/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: no-repeat 0 0/cover url("../img/contact/contact-bg.webp");
  padding: 11.7rem 2rem;
  margin-top: 15rem;
  width: 100%;
  border-radius: 6px;
}

.contact__heading {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 6.4rem;
  text-align: center;
  margin-bottom: 5.4rem;
}

.contact__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__buttons-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: Arial;
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 400;
  text-decoration: none;
  width: 16.6rem;
  height: 5rem;
  background: #212B31;
  border: 1px solid #212B31;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  margin-right: 16px;
}

.contact__buttons-order:hover {
  background: #3f505a;
  -webkit-transition: .2s;
  transition: .2s;
}

.contact__buttons-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18.2rem;
  height: 5rem;
  background: #FFFFFF;
  border: 1px solid #DADEDF;
  border-radius: 4px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-decoration: none;
  color: #212B31;
}

/** Footer **/
.footer {
  margin-top: 15rem;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16rem;
}

.footer__menu-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  color: #72787D;
  color: #72787D;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.footer__menu-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.2rem;
}

.footer__menu-name {
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-transform: uppercase;
  color: #212B31;
  margin-left: 0.8rem;
}

.footer__menu-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 1rem;
}

.footer__menu-communicate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 2rem;
}

.footer__menu-email, .footer__menu-phone, .footer__menu-social {
  text-decoration: none;
  color: #72787D;
}

.footer__menu-email:hover, .footer__menu-phone:hover, .footer__menu-social:hover {
  color: #acb1b4;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.footer__menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.footer__menu-nav-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__menu-nav-heading {
  font-size: 1.6rem;
  font-weight: 400;
  color: #212B31;
  margin-bottom: 2.2rem;
}

.footer__menu-nav-item {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  text-decoration: none;
  color: #72787D;
}

.footer__menu-nav-item:hover {
  color: #acb1b4;
  -webkit-transform: scale(1.1) translateX(4%);
          transform: scale(1.1) translateX(4%);
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.footer__rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  padding: 3.3rem 0;
  border-top: 1px solid #DADEDF;
}

.footer__rights-copyright {
  color: #72787D;
}

.footer__rights-confidentiality {
  color: #72787D;
  text-decoration: none;
}

.footer__rights-confidentiality:hover {
  color: #acb1b4;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

@media (max-width: 1199px) {
  html {
    font-size: 9px;
  }
  .header__logo-title {
    display: none;
  }
  .delivery__products {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .delivery__products-block {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .safety__equipment {
    width: 100vw;
  }
  .build {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .build__bg {
    background: #212B31;
    overflow: hidden;
  }
  .build__features {
    max-width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .build__features-list {
    max-width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .build__features-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .choose__reasons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .choose__reasons-rewards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .choose__reasons-item {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .choose__reasons-reviews {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    max-width: 70vw;
    padding-bottom: 2rem;
  }
  .choose__reasons-reviews:before {
    width: 100vw;
    height: 100%;
  }
  .choose__reasons-reviews .swiper-container-comment {
    width: 100%;
    overflow: hidden;
  }
  .choose__reasons-reviews .swiper-container-comment .swiper-slide {
    padding: 0;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .choose__reasons-reviews .swiper-container-comment .swiper-pagination {
    display: block;
    text-align: center;
    top: 93%;
    left: 50%;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    width: 40px;
  }
  .choose__reasons-comment {
    margin: 0 auto;
    width: 75%;
  }
  .choose__reasons-comment-text {
    font-size: 2rem;
    line-height: 3.2rem;
    margin-top: 3rem;
  }
}

@media (max-width: 899px) {
  html {
    font-size: 8px;
  }
  .header__logo-title {
    display: block;
  }
  .header__menu_desktop {
    display: none;
  }
  .header__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main {
    max-height: 50vh;
    background: no-repeat 50% 100%/contain url("../img/main-bg-1.webp");
  }
  .care {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 50px;
    text-align: center;
  }
  .care__img {
    display: none;
  }
  .about__capabilities-block {
    padding: 0;
  }
  .about__capabilities-block:nth-child(2n) {
    padding: 0;
  }
  .delivery__products-block {
    margin: 0 auto;
  }
  .safety__equipment {
    padding: 2rem;
  }
  .safety__equipment-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0.5rem;
  }
}

@media (max-width: 699px) {
  html {
    font-size: 8px;
  }
  .header__menu_mobile {
    width: 100vw;
    height: 100vh;
  }
  .chaos__img {
    display: block;
    width: 100vw;
  }
  .about__capabilities-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0 15rem;
  }
  .about__capabilities-block:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0 15rem;
  }
  .about__capabilities-text {
    text-align: center;
    margin-top: 1.5rem;
  }
  .about__capabilities-img {
    width: 31.5rem;
    height: 20.4rem;
  }
  .delivery__description {
    padding: 0 5rem;
  }
  .slider-container, .slider-wrapper, .slider-slide {
    display: block;
  }
  .safety__capabilities {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .safety__capabilities-block {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .build__features-subdescription {
    display: none;
  }
  .build__capabilities {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .build__capabilities-block {
    margin-top: 5rem;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .work__head {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .work__head-heading {
    text-align: center;
  }
  .work__head-description {
    text-align: center;
  }
  .work__head-img {
    min-width: calc(33.6rem/2);
    min-height: calc(39.2rem/2);
  }
  .work__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rewards {
    padding: 0;
  }
  .rewards__block {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .rewards__block-description {
    padding: 0;
  }
  .footer__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__menu-name {
    font-size: 2.4rem;
  }
  .footer__menu-contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 2.3rem;
  }
  .footer__menu-city, .footer__menu-email {
    margin-bottom: 1rem;
  }
  .footer__menu-address {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__menu-nav {
    display: none;
  }
  .footer__rights {
    text-align: center;
  }
}

@media (max-width: 419px) {
  html {
    font-size: 7px;
  }
  .main {
    padding: 7.5rem 0 0 0;
    background: none;
  }
  .main__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__button-order {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .main__button-more {
    width: 16.6rem;
  }
  .capabilities {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 4rem;
  }
  .capabilities__element {
    margin-top: 10px;
  }
  .chaos__img {
    display: none;
  }
  .care {
    padding: 0;
  }
  .course {
    padding: 0;
  }
  .safety__capabilities-block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .safety__equipment {
    padding-top: 3rem;
  }
  .safety__equipment-img {
    display: none;
  }
  .rewards__block {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .rewards__block-description {
    padding: 0;
  }
}
/*# sourceMappingURL=main.css.map */