@media (max-width: 1199px)
   html
      font-size: 9px
   .header__logo-title
      display: none

   .delivery
      &__products
         padding: 0 15rem

   .safety
      &__equipment
         width: 100vw

   .build
      &__bg
         background: $black
         overflow: hidden
      &__features
         margin: 0 auto





@media (max-width: 899px)
   html
      font-size: 8px
   .header
      &__logo-title
         display: block
      &__menu
         &_desktop
            display: none
         
         &_mobile
            display: flex

      &__button
         display: flex

   .main 
      max-height: 50vh
      background: no-repeat 50% 100% / contain url("../img/main-bg-1.webp")
   .care
      align-items: center
      padding: 0 50px

      text-align: center
      
      &__img
         display: none

   .about
      &__capabilities
         &-block
            padding: 0
            &:nth-child(2n)
               padding: 0
         &-img
            
      
   .delivery
      &__products
         padding: 0 7rem
         &-block
            &:nth-child(n+4)
               margin-top: 0
            &:nth-child(n+3)
               margin-top: 3.5rem
   
   .safety
      &__equipment
         padding: 2rem

         &-heading
            display: flex
            flex-direction: column

            margin: 0 0.5rem


@media (max-width: 699px)
   html
      font-size: 8px

   .header
      &__menu
         &_mobile
            width: 100vw
   .chaos
      &__img
         display: block
         width: 100vw
   .about
      &__capabilities
         &-block
            flex-direction: column-reverse
            padding: 0 15rem
            &:nth-child(2n)
               flex-direction: column-reverse
               padding: 0 15rem
         &-text
            text-align: center

            margin-top: 1.5rem
         
   .delivery
      &__description
         padding: 0 5rem
      &__products
         justify-content: space-around
         &-block
            max-width: 55rem
            &:nth-child(n)
               margin-top: 0
            &:nth-child(n+2)
               margin-top: 3.5rem

   .safety
      &__capabilities
         &-block
            flex-basis: 45%

   .build
      &__features
         &-subdescription
            display: none
      &__capabilities
         flex-wrap: wrap
         justify-content: space-around

         &-block
            flex-basis: 45%

   .work
      flex-direction: column
      justify-content: space-around

      &__head
         flex-basis: 70%
         &-heading
            text-align: center

         &-description
            text-align: center

         &-img
            min-width: calc(33.6rem/2)
            min-height: calc(39.2rem/2)
      
      &__content
         align-items: center

   .choose
      &__reasons
         flex-direction: column
         align-items: center

         &-rewards
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-around

         &-item
            flex-basis: 85%

         &-reviews
            &:before
               width: 100vw
               height: 100%

         &-comment
            margin: 0 auto
            width: 75%

            &-text
               font-size: 2rem
               line-height: 3.2rem

               margin-top: 3rem

   .rewards
      padding: 0
      &__block
         flex-basis: 45%
         &-description
            padding: 0

   .footer
      &__menu
         justify-content: center
         &-name
            font-size: 2.4rem
         &-contacts
            align-items: center
            flex-basis: 100%
            font-size: 2.3rem
         &-city, &-email
            margin-bottom: 1rem
         &-address
            align-items: center
         &-nav
            display: none

      &__rights
         text-align: center


@media (max-width: 419px)
   html
      font-size: 7px
   .main
      padding: 7.5rem 4rem 0 4rem
      background: none
      &__button
         flex-direction: column
         &-order
            margin-right: 0
            margin-bottom: 5px
         &-more
            width: 16.6rem
   .capabilities
      flex-direction: column
      padding: 0 60px
      &__element
         margin-top: 10px
   .chaos
      &__img
         display: none
   .course
      padding: 0 4rem

   .safety
      &__capabilities
         &-block
            flex-basis: 100%
      
      &__equipment
         padding-top: 3rem
         &-img
            display: none

   .rewards
      &__block
         flex-basis: 80%
         &-description
            padding: 0
