@import "fonts"
@import "variables"
@import "mixins"


*
   box-sizing: border-box

html
   font-size: 10px

body
   font-family: Inter
   font-weight: 400

   overflow-x: hidden

h1,h2,h3,h4,h5,h6
   margin: 0

.header

   display: flex
   justify-content: space-between
   align-items: center

   max-width: 1440px
   max-height: 96px

   height: 100vh

   margin: 0 auto
   padding: 0 31px
   
   &__logo
      display: flex
      align-items: center

      &-title
         font-size: 2.2rem
         text-transform: uppercase
         margin-left: 8px

         cursor: pointer

      &-svg
         cursor: pointer

   &__menu
      &_desktop
         display: flex
         align-items: center

         position: relative

      &-element
         font-size: 1.6rem

         color: $grey;


         cursor: pointer

         transition: .2s

         margin-right: 2.2rem

         text-decoration: none

         &:hover
            color: #036FC7
            transition: .2s

      
      &-order
         display: flex
         justify-content: center
         align-items: center
         color:#fff

         font-family: Arial
         font-size: 1.5rem
         line-height: 1.6rem
         font-weight: 400
         text-decoration: none 

         width: 14.3rem
         height: 3.4rem

         background: $black
         border: 1px solid $black
         box-sizing: border-box
         box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16)
         border-radius: 4px
         
         &:hover
            background: #3f505a
            transition: .2s

      &_mobile
         display: none
         flex-direction: column
         justify-content: center
         align-items: center


         background-color: #fff

         box-shadow: -1px 0 20px 1px $black

         width: 50%
         height: 100%

         position: fixed

         top: 0
         right: 0

         transform: translateX(100%)

         z-index: 10

         .header__menu-element

            font-size: 2.5rem
            text-transform: uppercase

            margin-bottom: 1rem

         .header__menu-order

            font-size: 2.5rem

            width: 21.4rem
            min-height: 5rem


            margin-top: 5rem

      &-close
         display: flex

         border: none
         background: none

         border-radius: 50%

         position: absolute

         padding: 10px
         
         top: 20px
         left: 20px

         &:hover
            background-color: #72787d2a
            transition: .2s

   
   &__button
      display: none
      align-items: center
      justify-content: center
      padding: 5px 5px

      background: none
      border: none

      cursor: pointer
      &:hover
         background-color: #b8b8b852



.container 
   max-width: 1056px
   margin: 0 auto
   padding: 0 10px

/** Main **/

.main

   max-height: 792px
   height: 100vh

   padding: 7.5rem 12rem 0 12rem

   background: no-repeat 50% 37rem / contain url("../img/main-bg-1.webp"),
   no-repeat  50% 73.4rem / 75% url("../img/main-bg-2.webp")
 

   &__heading
      
      font-size: 4.8rem
      font-weight: 400
      line-height: 6.4rem

      color: $black

      text-align: center

   &__button
      display: flex
      align-items: center
      justify-content: center

      margin-top: 30px


      &-order
         display: flex
         justify-content: center
         align-items: center
         color:#fff

         font-family: Arial
         font-size: 1.7rem
         line-height: 2.4rem
         font-weight: 400
         text-decoration: none 

         width: 16.6rem
         height: 5rem

         background: $black
         border: 1px solid $black
         box-sizing: border-box
         box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16)
         border-radius: 4px

         margin-right: 16px
         
         &:hover
            background: #3f505a
            transition: .2s
         
      &-more
         display: flex
         justify-content: center
         align-items: center

         width: 14.9rem
         height: 5rem

         background: $white
         border: 1px solid #DADEDF
         border-radius: 4px

         font-size: 1.8rem
         line-height: 2.4rem
         text-decoration: none

         color: $black

/** Capabilities **/

.capabilities
   display: flex

   margin-top: 15rem
   &__element
      display: flex
      flex-direction: column
      align-items: center

      text-align: center
      &-heading
         
         @include subheading

      &-description
         
         @include subdescription

/** Chaos **/

.chaos
   display: flex
   flex-direction: column
   align-items: center

   text-align: center

   margin-top: 14rem
   &__heading
      font-size: 3.2rem
      font-weight: 400
      line-height: 4.8rem

      color: $black
   &__description
      
      @include description

/** Course **/

.course
   margin-top: 14.5rem

   padding: 0 13rem
   &__heading
      
      @include heading



/** Care **/

.care
   display: flex
   flex-direction: column
   align-items: start

   position: relative

   padding-right: 47%

   margin-top: 17rem

   &__heading

      @include heading

   &__description
      
      @include description

   &__help
      font-size: 2rem
      font-weight: 400
      line-height: 3.2rem

      color: $black

      background: no-repeat 0 100% / 100% 50% url("../img/care/care__help-bg.webp")
   
   &__img
      position: absolute

      right: 0

/** Partners **/

.partners
   display: flex
   justify-content: space-around
   align-items: center
   flex-wrap: wrap

   padding: 5.6rem 0
   margin-top: 15.5rem

   border: 1px solid #EEF2F3
   border-right: none
   border-left: none

   &__img
      margin: 0 5px

/** About **/

.about
   display: flex
   flex-direction: column
   align-items: center
   
   margin-top: 8rem

   &__heading

      @include heading

   &__description

      @include description

   &__capabilities
      display: flex
      flex-direction: column
      align-items: center

      &-block
         display: flex
         justify-content: space-between
         align-items: center

         margin-top: 6.5rem
         padding-right: 6rem

         &:nth-child(2n)
            flex-direction: row-reverse
            padding-right: 0
            padding-left: 6rem

      &-text
         display: flex
         flex-direction: column
         flex-basis: 50%

         &-heading
               
            @include subheading

         &-description

            @include subdescription

      &-img
         width: 42rem
         height: 27.2rem

/** Delivery **/

.delivery
   display: flex
   flex-direction: column
   align-items: center
   
   margin-top: 14rem

   &__heading
      @include heading

   &__description
      @include description

      padding: 0 15rem

   &__products
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: space-between

      margin-top: 4rem
      

      &-block
         display: flex
         justify-content: space-between
         align-items: start
         
         max-width: 33.4rem

         &:nth-child(n+4)
            margin-top: 3.5rem

            


      &-img
         min-width: 50px
         min-height: 50px

         margin-right: 1.5rem


      &-text
         display: flex
         flex-direction: column

         

         &-subheading
            @include subheading

            margin-bottom: 1rem
         
         &-subdescription
            @include subdescription

   &__other
      @include description

      margin-top: 2rem

      &_yellow-bg
         color: $black

         background: no-repeat 0 100% / 100% 50% url("../img/care/care__help-bg.webp")

/** Safety **/

.safety
   display: flex
   flex-direction: column
   align-items: center

   margin-top: 15rem

   &__heading

      @include heading

   &__description

      @include description

   &__capabilities
      display: flex
      justify-content: space-between
      flex-wrap: wrap

      margin-top: 6rem

      &-block
         display: flex
         flex-direction: column
         align-items: center

         text-align: center

         flex-basis: 33%

         &-img
            min-width: 50px
            min-height: 50px

            margin-bottom: 20px

         &-subheading
            @include subheading

         &-subdescription
            @include subdescription

   &__equipment
      display: flex
      justify-content: space-between
      align-items: center

      background: #F6F8F9

      padding: 0 4rem

      width: 100%
      height: 13rem
      
      line-height: 3.2rem

      color: $black

      margin-top: 6rem

      &-heading
         font-size: 1.8rem
         font-weight: 500

      &-description
         font-size: 1.8rem
         font-weight: 400
      
      &-more
         display: flex
         align-items: center
         justify-content: center

         text-decoration: none
         font-size: 1.8rem
         font-weight: 400
         line-height: 2.4rem

         color: $black

         min-width: 15rem
         min-height: 5rem

         background: #FFFFFF
         border: 1px solid #DADEDF
         border-radius: 4px

         &:hover
            background: #8b8d9b41
            transition: .2s


/** Build **/

.build 

   padding-top: 14rem
   padding-bottom: 12rem
   margin-top: 14rem

   position: relative

   &__bg
      background: no-repeat 105% 21% url("../img/build/build-bg.webp"), $black
                  

      width: 100vw
      height: 100%

      position: absolute

      top: 0
      right: 50%

      transform: translateX(50%)

      z-index: -1
   
   &__features
      max-width: 60%

      &-heading
         @include heading

         color: $white
         text-align: left

      &-list
         padding: 0
         margin: 5rem 0 0 0

      &-item
         list-style-type: none

         margin-left: 4rem
         margin-top: 2.4rem
         position: relative
         &:before
            content: ""

            display: block

            position: absolute
            
            top: 0.8rem
            left: -4rem

            background-color: $white

            width: 8px
            height: 8px

            border-radius: 50%

      &-subheading
         @include subheading

         color: $white

      &-subdescription
         @include subdescription

         color: #ffffffbe

      &-buttons
         display: flex

         margin-top: 5rem
         

      &-order
         display: flex
         justify-content: center
         align-items: center
         color: $black

         font-family: Arial
         font-size: 1.7rem
         line-height: 2.4rem
         font-weight: 400
         text-decoration: none 

         width: 16.6rem
         height: 5rem

         background: $white
         border: 1px solid $grey
         box-sizing: border-box
         border-radius: 4px

         margin-right: 16px
         
         &:hover
            background: #3f505a
            transition: .2s
         
      &-more
         display: flex
         justify-content: center
         align-items: center

         width: 14.9rem
         height: 5rem

         background: $black
         border: 1px solid $grey
         border-radius: 4px

         font-size: 1.8rem
         line-height: 2.4rem
         text-decoration: none

         color: $white
   
   &__capabilities
      display: flex
      justify-content: space-between

      width: 100%

      margin-top: 14rem

      &-block
         display: flex
         flex-direction: column
         align-items: center
         text-align: center

         flex-basis: 32%

         &-img
            min-width: 50px
            min-height: 50px

            margin-bottom: 20px
         &-subheading
            @include subheading

            color: $white

            margin-bottom: 10px

         &-subdescription
            @include subdescription

            color #ffffffbe

            margin: 0

/** Work **/

.work
   display: flex
   justify-content: space-between

   margin-top: 14rem

   &__head
      flex-basis: 44%
      

      &-heading
         @include heading
         text-align: left

         margin-bottom: 2rem

      &-description
         @include description
         text-align: left

         margin-bottom: 6rem

      &-img
         min-width: 33.6rem
         min-height: 39.2rem

   &__content
      flex-basis: 49%

      display: flex
      flex-direction: column

      &-list
         padding: 0
         margin: 0 0 0 7rem

         counter-reset: my-counter

      &-item
         list-style-type: none

         position: relative

         &::before
            content: counter(my-counter)
            counter-increment: my-counter

            display: flex
            align-items: center
            justify-content: center

            font-size: 1.6rem

            width: 4rem
            height: 4rem

            border: 1px solid #DADEDF

            position: absolute

            left: -7rem


      &-subheading
         @include subheading

         
            

      &-subdescription
         @include subdescription

         font-size: 1.7rem

      &-buttons
         display: flex

         margin-top: 30px


      &-order
         display: flex
         justify-content: center
         align-items: center
         color:#fff

         font-family: Arial
         font-size: 1.7rem
         line-height: 2.4rem
         font-weight: 400
         text-decoration: none 

         width: 16.6rem
         height: 5rem

         background: $black
         border: 1px solid $black
         box-sizing: border-box
         box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16)
         border-radius: 4px

         margin-right: 16px
         
         &:hover
            background: #3f505a
            transition: .2s
         
      &-more
         display: flex
         justify-content: center
         align-items: center

         width: 14.9rem
         height: 5rem

         background: $white
         border: 1px solid #DADEDF
         border-radius: 4px

         font-size: 1.8rem
         line-height: 2.4rem
         text-decoration: none

         color: $black

/** Choose **/

.choose
   display: flex
   flex-direction: column
   align-items: center

   margin-top: 10rem

   margin-bottom: 10rem

   &__heading
      @include heading

   &__description
      @include description

      color: $black

   &__reasons
      display: flex
      justify-content: space-between
      margin-top: 5rem

      &-rewards 
         display: flex
         flex-direction: column
         flex-basis: 45%

      &-item
         display: flex
         align-items: start

         margin-bottom: 3rem

      &-img
         min-width: 50px
         min-height: 50px

         margin-right: 1rem

      &-text
         display: flex
         flex-direction: column

         &-subheading
            @include subheading

            margin-bottom: 1rem

         &-subdescription
            @include subdescription

      &-reviews
         flex-basis: 42%
         
         position: relative

         &:before
            content: ""
            display: block
            background-color: #F6F8F9
            z-index: -2

            width: 61.4rem
            height: 90%

            position: absolute

            left: 50%

            transform: translateX(-50%)

      &-comment
         display: flex
         flex-direction: column
         align-items: start

         &-text
            font-size: 3rem
            line-height: 4.8rem

            margin-top: 6rem

            color: $black

            position: relative

            &:before
               content: ""
               display: block
               background: no-repeat 0 0 / contain url('../img/choose/comment-bg.webp')

               width: 10.4rem
               height: 8rem

               position: absolute

               transform: translate(-45%, -20%)

               z-index: -1

         &-profile
            display: flex
            flex-direction: column

            position: relative

            margin-left: 5.5rem
            margin-bottom: 3rem

         &-photo
            position: absolute

            left: -5.5rem

            width: 5rem
            height: 5rem

         &-name
            font-size: 1.6rem
            line-height: 1.9rem
            font-weight: 400

            color: $black

         &-position
            font-size: 1.6rem
            line-height: 1.9rem
            font-weight: 400

            color: $grey

/** Rewards **/

.rewards
   display: flex
   flex-wrap: wrap
   justify-content: space-around
   align-items: baseline

   padding: 0 19.2rem

   &__block
      display: flex
      flex-direction: column
      align-items: center

      flex-basis: 30%

      margin-bottom: 4rem

      &-description
         @include subdescription

         margin-top: 3rem
         padding: 0 3rem
         text-align: center

/** Contact **/

.contact
   display: flex
   flex-direction: column
   align-items: center

   background: no-repeat 0 0 / cover url('../img/contact/contact-bg.webp')


   padding: 11.7rem 2rem

   margin-top: 15rem

   width: 100%

   border-radius: 6px

   &__heading
      font-size: 4.8rem
      font-weight: 400
      line-height: 6.4rem
      text-align: center

      margin-bottom: 5.4rem

   &__buttons

      display: flex

      &-order
         display: flex
         justify-content: center
         align-items: center
         color:#fff

         font-family: Arial
         font-size: 1.7rem
         line-height: 2.4rem
         font-weight: 400
         text-decoration: none 

         width: 16.6rem
         height: 5rem

         background: $black
         border: 1px solid $black
         box-sizing: border-box
         box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16)
         border-radius: 4px

         margin-right: 16px
         
         &:hover
            background: #3f505a
            transition: .2s
         
      &-connect
         display: flex
         justify-content: center
         align-items: center

         width: 18.2rem
         height: 5rem

         background: $white
         border: 1px solid #DADEDF
         border-radius: 4px

         font-size: 1.8rem
         line-height: 2.4rem
         text-decoration: none

         color: $black

/** Footer **/

.footer

   margin-top: 15rem

   &__menu

      display: flex
      justify-content: space-between

      margin-bottom: 16rem

      &-contacts
         display: flex
         flex-direction: column
         align-items: start

         color : $grey

         @include subdescription


      &-company
         display: flex
         align-items: center

         margin-bottom: 2.2rem

      &-name
         font-size: 1.6rem
         line-height: 1.9rem
         text-transform: uppercase

         color: $black

         margin-left: 0.8rem

      &-address
         display: flex
         flex-direction: column
         align-items: start

         margin-bottom: 1rem


      &-communicate
         display: flex
         flex-direction: column
         align-items: start

         margin-bottom: 2rem
         
      &-email, &-phone, &-social
         text-decoration: none
         color: $grey

         &:hover
            color: #acb1b4
            transform: scale(1.1)
            transition-duration: .2s

      &-nav
         display: flex
         justify-content: space-between
         flex-basis: 60%

         &-column
            display: flex
            flex-direction: column



         &-heading
            font-size: 1.6rem
            font-weight: 400

            color: $black

            margin-bottom: 2.2rem

         &-item
            font-size: 1.6rem
            margin-bottom: 0.8rem
            text-decoration: none

            color: $grey

            &:hover
               color: #acb1b4
               transform: scale(1.1) translateX(4%)
               transition-duration: .2s

   &__rights
      display: flex
      justify-content: space-between

      font-size: 1.6rem
      line-height: 2.4rem
      font-weight: 400

      padding: 3.3rem 0

      border-top: 1px solid #DADEDF

      &-copyright
         color: $grey

      &-confidentiality
         color: $grey
         text-decoration: none

         &:hover
            color: #acb1b4
            transform: scale(1.1)
            transition-duration: .2s


@import "media"